.page-content {
    padding: 0.7rem 1rem;
}

.login-modal {
    /*background: #232b33;*/
    /*background: #263238;*/
    /*background: #577381;*/
    background: #8A99A0;
}

.login-card {
    margin: 3rem auto;
}

.login-card.mld-card {
    width: 320px;
    hight: 320px;
}

.mdl-card__actions {
    text-align: left;
}

.mdl-card__supporting-text {
    text-align: center;
}

.login-card > .mdl-card__title {
    color: #fff;
    height: 200px;
    text-align: left;
    text-shadow: 5px 5px 5px #333333;
    background: url('../img/ship.jpg') bottom right 15% no-repeat #46B6AC;
    background-size: cover;
}

.fade-transition {
    transition: all .5s ease;
    opacity: 1;
}

.fade-leave, .fade-enter {
    opacity: 0;
}

.board-box {
    width: 31px;
    height: 31px;
    margin: 2px;
    background: #4CE49E;
}
