.page-content {
    padding: 0.7rem 1rem;
}

.mdl-layout__content {
    /*background: #232b33;*/
    /*background: #263238;*/
    /*background: #577381;*/
    /*background: #8A99A0;*/
    background: #C4D1EA;
}

.login-card {
    margin: 3rem auto;
}

.login-card.mld-card {
    width: 320px;
    hight: 320px;
}

.mdl-card__actions {
    text-align: left;
}

.mdl-card__supporting-text {
    text-align: center;
}

.login-card > .mdl-card__title {
    color: #fff;
    height: 200px;
    text-align: left;
    text-shadow: 5px 5px 5px #333333;
    background: url('../img/ship.jpg') bottom right 15% no-repeat #46B6AC;
    background-size: cover;
}

.fade-transition {
    transition: all .5s ease;
    opacity: 1;
}

.fade-leave, .fade-enter {
    opacity: 0;
}

.board {
    border: 3px solid #FFF;
    background: url('../img/wood.png');
}

.board-box {
    border: 1px solid rgba(255, 255, 255, 0.5);
    min-width: 40px;
    min-height: 40px;
    margin: 0;
}

.used {
    background-color: #DBA4A4;
}

.ships-row {
    margin-top: 1rem;
}

.ship-card {
    width: 100%;
    min-height: 100px;
}

.ship-radio-button {
    text-align: center;
}
