<div class="row center-xs">
    <div class="col-xs-9 board">
        <div class="row"
             v-repeat="boxList: boxes">
            <div class="col-xs board-box"
                 v-repeat="box: boxList"
                 v-class="used: box.used"
                 v-on="click: boxSelected(box)">
            </div>
        </div>
    </div>
</div>
<div class="row ships-row">
    <div v-repeat="ship: ships" class="col-xs ship-radio-button">
        <div class="mdl-card mdl-shadow--2dp ship-card">
            <div class="mdl-card__supporting-text">
                <label for="{{ ship.name }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                    <input v-model="shipSize" id="{{ ship.name }}" class="mdl-radio__button" type="radio" name="ship" value="{{ ship.size }}" checked />
                    <span class="mdl-radio__label">{{ ship.name | capitalize }}</span>
                </label>
                <p>Tamaño: <strong>{{ ship.size }} casillas</strong></p>
                <div v-if="ship.size > 1" class="ship-acctions">
                    <button v-on="click: rotateShip(ship, 'v')" v-class="mdl-button--accent: ship.dir === 'v'" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored">Vertical</button>
                    <button v-on="click: rotateShip(ship, 'h')" v-class="mdl-button--accent: ship.dir === 'h'" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored">Horizontal</button>
                </div>
            </div>
        </div>
    </div>
</div>
